<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /staging/4074/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /staging/4074/index.php [L]
</IfModule>
